<a href="https://colab.research.google.com/github/Deepti2412/Codes/blob/master/AnalyticsVidhyaLoanPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
df=pd.read_csv("/content/loan_train.csv")
dt=pd.read_csv("/content/loan_test.csv")

In [3]:
df.head()

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...            1.0         Urban           Y
1  LP001003   Male     Yes  ...            1.0         Rural           N
2  LP001005   Male     Yes  ...            1.0         Urban           Y
3  LP001006   Male     Yes  ...            1.0         Urban           Y
4  LP001008   Male      No  ...            1.0         Urban           Y

[5 rows x 13 columns]

In [4]:
df["Gender"].value_counts()

Male      489
Female    112
Name: Gender, dtype: int64

In [0]:
dataset=[df,dt]
for datasets in dataset:
  datasets["Gender"]=datasets["Gender"].fillna("Male")
  datasets["Married"]=datasets["Married"].fillna(datasets["Gender"].mode()[0])
  datasets["Dependents"]=datasets["Dependents"].fillna(datasets["Dependents"].mode()[0])
  datasets["Self_Employed"]=datasets["Self_Employed"].fillna(datasets["Self_Employed"].mode()[0])

In [7]:
X.head()

  Gender Married Dependents  ... Loan_Amount_Term Credit_History  Property_Area
0   Male      No          0  ...            360.0            1.0          Urban
1   Male     Yes          1  ...            360.0            1.0          Rural
2   Male     Yes          0  ...            360.0            1.0          Urban
3   Male     Yes          0  ...            360.0            1.0          Urban
4   Male      No          0  ...            360.0            1.0          Urban

[5 rows x 11 columns]

In [13]:
df.isnull().mean()*100

Loan_ID              0.0
Gender               0.0
Married              0.0
Dependents           0.0
Education            0.0
Self_Employed        0.0
ApplicantIncome      0.0
CoapplicantIncome    0.0
LoanAmount           0.0
Loan_Amount_Term     0.0
Credit_History       0.0
Property_Area        0.0
Loan_Status          0.0
dtype: float64

In [0]:
for datasets in dataset:
  datasets["Loan_Amount_Term"]=datasets["Loan_Amount_Term"].fillna(datasets["Loan_Amount_Term"].mode()[0])

In [0]:
for datasets in dataset:
  datasets["LoanAmount"]=datasets["LoanAmount"].fillna(datasets["LoanAmount"].median())
  datasets["Credit_History"]=datasets["Credit_History"].fillna(datasets["Credit_History"].mode()[0])

In [0]:
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.compose import ColumnTransformer

In [0]:
X=df.iloc[:,1:-1]
y=df.iloc[:,-1]

In [16]:
ct=ColumnTransformer(transformers=[('KBinsDiscretizer',KBinsDiscretizer(n_bins=3),[-3])],remainder='passthrough')
X=np.array(ct.fit_transform(X))

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_discretization.py:197: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 0 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)

In [0]:
from sklearn.preprocessing import LabelEncoder
lt=LabelEncoder()
X[:,-1]=lt.fit_transform(X[:,-1])

In [0]:
X[:,4]=lt.fit_transform(X[:,4])

In [0]:
print(X[:,:5][:100])

In [0]:
X[:,-1]=lt.fit_transform(X[:,-1])

In [0]:
y=lt.fit_transform(y)

In [0]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [0]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train_scaled=sc.fit_transform(X_train)
X_test_scaled=sc.transform(X_test)

In [55]:
print(y_train)

[0 1 1 1 0 0 1 0 1 1 1 0 1 1 1 1 0 1 1 0 0 1 1 1 0 1 1 1 1 0 0 1 1 1 1 0 0
 1 0 1 1 1 1 1 1 0 1 0 0 0 0 1 1 1 0 1 0 1 1 1 1 0 0 1 1 1 1 0 1 0 1 1 1 1
 0 0 0 0 1 1 1 1 1 0 1 1 0 0 1 0 0 1 1 0 1 1 1 1 1 1 0 1 1 1 0 1 1 1 1 0 1
 1 1 1 0 0 1 0 1 1 1 0 1 1 1 1 1 1 1 1 0 1 0 0 1 1 1 1 1 1 0 1 1 0 0 1 1 1
 1 0 1 1 1 0 0 0 1 1 1 1 1 1 1 0 1 0 1 1 1 1 0 1 0 1 0 1 1 1 1 1 1 1 1 1 1
 1 0 1 1 1 1 1 0 1 0 1 1 0 0 1 1 1 1 0 1 1 0 1 0 0 1 1 1 1 1 0 1 1 0 0 1 1
 1 1 1 0 1 1 0 1 1 0 1 1 1 1 0 0 1 1 0 1 0 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1
 0 1 1 0 0 1 1 1 1 0 1 0 1 1 0 1 1 1 0 1 0 1 1 1 1 0 1 0 1 1 1 1 0 1 0 0 1
 1 1 0 0 1 0 1 1 1 1 1 0 0 1 0 0 1 1 1 1 1 0 1 0 1 1 1 1 1 1 1 1 0 0 1 1 1
 1 1 1 0 1 1 1 0 1 1 1 1 0 1 1 0 0 1 1 1 0 1 1 0 0 1 1 1 0 1 0 1 1 1 1 0 1
 0 1 1 0 0 1 1 1 0 0 1 0 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 0 0 1 1 1 1 0 0 0
 0 0 1 0 1 1 0 1 1 1 0 0 1 1 0 1 1 1 1 1 0 0 1 1 1 0 0 1 1 0 1 1 1 0 1 1 0
 1 0 0 1 0 1 0 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 0 1 1 0 1 1 1 1 0 1 1 1 1 1
 1 1 0 1 0 1 1 1 1 1]

In [0]:
ann=tf.keras.models.Sequential()

In [0]:
ann.add(tf.keras.layers.Dense(units=11,activation='relu'))
ann.add(tf.keras.layers.Dense(units=11,activation='relu'))
ann.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

In [0]:
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [59]:
ann.fit(X_train_scaled,y_train,batch_size=32,epochs=100)

Epoch 1/100
16/16 [==============================] - 0s 2ms/step - loss: 0.8076 - accuracy: 0.3931
Epoch 2/100
16/16 [==============================] - 0s 1ms/step - loss: 0.7564 - accuracy: 0.4155
Epoch 3/100
16/16 [==============================] - 0s 1ms/step - loss: 0.7190 - accuracy: 0.5051
Epoch 4/100
16/16 [==============================] - 0s 2ms/step - loss: 0.6902 - accuracy: 0.5479
Epoch 5/100
16/16 [==============================] - 0s 2ms/step - loss: 0.6683 - accuracy: 0.6049
Epoch 6/100
16/16 [==============================] - 0s 2ms/step - loss: 0.6486 - accuracy: 0.6456
Epoch 7/100
16/16 [==============================] - 0s 2ms/step - loss: 0.6317 - accuracy: 0.6701
Epoch 8/100
16/16 [==============================] - 0s 2ms/step - loss: 0.6164 - accuracy: 0.6986
Epoch 9/100
16/16 [==============================] - 0s 2ms/step - loss: 0.6021 - accuracy: 0.7251
Epoch 10/100
16/16 [==============================] - 0s 1ms/step - loss: 0.5893 - accuracy: 0.7373
Epoch 11/100
16/16 [==============================] - 0s 2ms/step - loss: 0.5766 - accuracy: 0.7454
Epoch 12/100
16/16 [==============================] - 0s 2ms/step - loss: 0.5645 - accuracy: 0.7597
Epoch 13/100
16/16 [==============================] - 0s 2ms/step - loss: 0.5540 - accuracy: 0.7719
Epoch 14/100
16/16 [==============================] - 0s 2ms/step - loss: 0.5425 - accuracy: 0.7800
Epoch 15/100
16/16 [==============================] - 0s 2ms/step - loss: 0.5332 - accuracy: 0.7882
Epoch 16/100
16/16 [==============================] - 0s 2ms/step - loss: 0.5247 - accuracy: 0.7902
Epoch 17/100
16/16 [==============================] - 0s 2ms/step - loss: 0.5173 - accuracy: 0.7902
Epoch 18/100
16/16 [==============================] - 0s 2ms/step - loss: 0.5104 - accuracy: 0.7902
Epoch 19/100
16/16 [==============================] - 0s 2ms/step - loss: 0.5046 - accuracy: 0.7902
Epoch 20/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4999 - accuracy: 0.7923
Epoch 21/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4954 - accuracy: 0.7902
Epoch 22/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4914 - accuracy: 0.7943
Epoch 23/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4878 - accuracy: 0.7984
Epoch 24/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4847 - accuracy: 0.8004
Epoch 25/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4818 - accuracy: 0.8045
Epoch 26/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4792 - accuracy: 0.8086
Epoch 27/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4772 - accuracy: 0.8086
Epoch 28/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4744 - accuracy: 0.8086
Epoch 29/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4720 - accuracy: 0.8086
Epoch 30/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4698 - accuracy: 0.8106
Epoch 31/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4677 - accuracy: 0.8106
Epoch 32/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4651 - accuracy: 0.8147
Epoch 33/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4631 - accuracy: 0.8147
Epoch 34/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4608 - accuracy: 0.8167
Epoch 35/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4589 - accuracy: 0.8167
Epoch 36/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4573 - accuracy: 0.8167
Epoch 37/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4550 - accuracy: 0.8167
Epoch 38/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4534 - accuracy: 0.8187
Epoch 39/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4519 - accuracy: 0.8187
Epoch 40/100
16/16 [==============================] - 0s 1ms/step - loss: 0.4512 - accuracy: 0.8187
Epoch 41/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4496 - accuracy: 0.8187
Epoch 42/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4483 - accuracy: 0.8187
Epoch 43/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4476 - accuracy: 0.8187
Epoch 44/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4464 - accuracy: 0.8187
Epoch 45/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4455 - accuracy: 0.8187
Epoch 46/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4443 - accuracy: 0.8187
Epoch 47/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4438 - accuracy: 0.8187
Epoch 48/100
16/16 [==============================] - 0s 1ms/step - loss: 0.4434 - accuracy: 0.8187
Epoch 49/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4420 - accuracy: 0.8187
Epoch 50/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4408 - accuracy: 0.8187
Epoch 51/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4402 - accuracy: 0.8187
Epoch 52/100
16/16 [==============================] - 0s 1ms/step - loss: 0.4394 - accuracy: 0.8208
Epoch 53/100
16/16 [==============================] - 0s 1ms/step - loss: 0.4383 - accuracy: 0.8208
Epoch 54/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4380 - accuracy: 0.8208
Epoch 55/100
16/16 [==============================] - 0s 1ms/step - loss: 0.4376 - accuracy: 0.8208
Epoch 56/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4368 - accuracy: 0.8208
Epoch 57/100
16/16 [==============================] - 0s 1ms/step - loss: 0.4363 - accuracy: 0.8208
Epoch 58/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4357 - accuracy: 0.8208
Epoch 59/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4351 - accuracy: 0.8208
Epoch 60/100
16/16 [==============================] - 0s 1ms/step - loss: 0.4344 - accuracy: 0.8208
Epoch 61/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4337 - accuracy: 0.8208
Epoch 62/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4336 - accuracy: 0.8208
Epoch 63/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4329 - accuracy: 0.8208
Epoch 64/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4321 - accuracy: 0.8208
Epoch 65/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4317 - accuracy: 0.8228
Epoch 66/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4309 - accuracy: 0.8228
Epoch 67/100
16/16 [==============================] - 0s 1ms/step - loss: 0.4302 - accuracy: 0.8228
Epoch 68/100
16/16 [==============================] - 0s 1ms/step - loss: 0.4298 - accuracy: 0.8228
Epoch 69/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4296 - accuracy: 0.8228
Epoch 70/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4285 - accuracy: 0.8248
Epoch 71/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4273 - accuracy: 0.8248
Epoch 72/100
16/16 [==============================] - 0s 1ms/step - loss: 0.4269 - accuracy: 0.8248
Epoch 73/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4264 - accuracy: 0.8228
Epoch 74/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4255 - accuracy: 0.8248
Epoch 75/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4246 - accuracy: 0.8248
Epoch 76/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4235 - accuracy: 0.8248
Epoch 77/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4236 - accuracy: 0.8248
Epoch 78/100
16/16 [==============================] - 0s 1ms/step - loss: 0.4220 - accuracy: 0.8248
Epoch 79/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4216 - accuracy: 0.8248
Epoch 80/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4210 - accuracy: 0.8269
Epoch 81/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4203 - accuracy: 0.8248
Epoch 82/100
16/16 [==============================] - 0s 1ms/step - loss: 0.4196 - accuracy: 0.8248
Epoch 83/100
16/16 [==============================] - 0s 1ms/step - loss: 0.4189 - accuracy: 0.8269
Epoch 84/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4182 - accuracy: 0.8269
Epoch 85/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4178 - accuracy: 0.8269
Epoch 86/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4170 - accuracy: 0.8269
Epoch 87/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4166 - accuracy: 0.8269
Epoch 88/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4160 - accuracy: 0.8269
Epoch 89/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4153 - accuracy: 0.8269
Epoch 90/100
16/16 [==============================] - 0s 1ms/step - loss: 0.4148 - accuracy: 0.8269
Epoch 91/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4140 - accuracy: 0.8289
Epoch 92/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4133 - accuracy: 0.8289
Epoch 93/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4131 - accuracy: 0.8289
Epoch 94/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4119 - accuracy: 0.8289
Epoch 95/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4110 - accuracy: 0.8289
Epoch 96/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4113 - accuracy: 0.8289
Epoch 97/100
16/16 [==============================] - 0s 1ms/step - loss: 0.4105 - accuracy: 0.8289
Epoch 98/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4094 - accuracy: 0.8289
Epoch 99/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4089 - accuracy: 0.8289
Epoch 100/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4085 - accuracy: 0.8289

In [0]:
y_pred=ann.predict(X_test_scaled)

In [0]:
y_pred=(y_pred > 0.5)

In [0]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [0]:
cm=confusion_matrix(y_test,y_pred)

In [64]:
print(cm)

[[18 25]
 [ 0 80]]

In [65]:
print(accuracy_score(y_test,y_pred))

0.7967479674796748

In [66]:
dt.head()

    Loan_ID Gender Married  ... Loan_Amount_Term Credit_History Property_Area
0  LP001015   Male     Yes  ...            360.0            1.0         Urban
1  LP001022   Male     Yes  ...            360.0            1.0         Urban
2  LP001031   Male     Yes  ...            360.0            1.0         Urban
3  LP001035   Male     Yes  ...            360.0            1.0         Urban
4  LP001051   Male      No  ...            360.0            1.0         Urban

[5 rows x 12 columns]

In [0]:
dt.drop("Loan_ID",axis=1,inplace=True)

In [68]:
ct=ColumnTransformer(transformers=[('KBinsDiscretizer',KBinsDiscretizer(n_bins=3),[-3])],remainder='passthrough')
dt=np.array(ct.fit_transform(dt))

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_discretization.py:197: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 0 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)

In [0]:
dt[:,-1]=lt.fit_transform(dt[:,-1])
dt[:,2]=lt.fit_transform(dt[:,2])
dt[:,3]=lt.fit_transform(dt[:,3])
dt[:,4]=lt.fit_transform(dt[:,4])
dt[:,5]=lt.fit_transform(dt[:,5])
dt[:,6]=lt.fit_transform(dt[:,6])

In [72]:
dt[:1]

array([[0.0, 1.0, 1, 1, 0, 0, 0, 5720, 0, 110.0, 1.0, 2]], dtype=object)

In [0]:
dt_scaled=sc.fit_transform(dt)

In [0]:
y_predo=ann.predict(dt_scaled)

In [0]:
y_predo=(y_predo > 0.5)

In [0]:
submission=pd.read_csv("/content/submission.csv")

In [92]:
submission.head()

    Loan_ID Loan_Status
0  LP001015           Y
1  LP001022           Y
2  LP001031           Y
3  LP001035           Y
4  LP001051           N

In [0]:
submission["Loan_Status"]=y_predo

In [0]:
submission["Loan_Status"]=submission["Loan_Status"].map(lambda x:'Y' if x==True  else 'N')

In [90]:
submission["Loan_Status"].value_counts()

True     300
False     67
Name: Loan_Status, dtype: int64

In [94]:
submission.to_csv('my_submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!