<a href="https://colab.research.google.com/github/Deepti2412/Codes/blob/master/Topic_Modelling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd



# LOADING THE FILE FOR TOPIC MODELLING

This file basically consists of articles and we do not know to which topic these article belong to so we are building a model for topic Modelling in order to know which document belongs to which topic.

In [4]:
npr=pd.read_csv('npr.csv')

In [5]:
npr.head()

                                             Article
0  In the Washington of 2016, even when the polic...
1    Donald Trump has used Twitter  —   his prefe...
2    Donald Trump is unabashedly praising Russian...
3  Updated at 2:50 p. m. ET, Russian President Vl...
4  From photography, illustration and video, to d...

Checking the shape of our file

In [6]:
npr.shape

(11992, 1)

Preprocessing of the text

In [7]:
from sklearn.feature_extraction.text import  TfidfVectorizer

In [10]:
tfidf=TfidfVectorizer(max_df=0.95,min_df=2,stop_words='english')

In [20]:
dtm=tfidf.fit_transform(npr["Article"])

In [21]:
dtm

<11992x54777 sparse matrix of type '<class 'numpy.float64'>'
	with 3033388 stored elements in Compressed Sparse Row format>

In [16]:
dtm.get_feature_names()[4200]

'auroras'

NMF (NON NEGATIVE MATRIX FACTORIZATIO)

In [17]:
from sklearn.decomposition import NMF

In [18]:
nmf=NMF(n_components=7,random_state=42)

In [22]:
nmf.fit(dtm)

NMF(alpha=0.0, beta_loss='frobenius', init=None, l1_ratio=0.0, max_iter=200,
    n_components=7, random_state=42, shuffle=False, solver='cd', tol=0.0001,
    verbose=0)

In [23]:
len(nmf.components_)

7

Displaying Topics

In [26]:
for index,topic in enumerate(nmf.components_):
  print(f"TOP 15 words for the topic {index} are:")
  print([tfidf.get_feature_names()[i] for i in topic.argsort()[-15:]])
  print("\n")

TOP 15 words for the topic 0 are:
['new', 'research', 'like', 'patients', 'health', 'disease', 'percent', 'women', 'virus', 'study', 'water', 'food', 'people', 'zika', 'says']


TOP 15 words for the topic 1 are:
['gop', 'pence', 'presidential', 'russia', 'administration', 'election', 'republican', 'obama', 'white', 'house', 'donald', 'campaign', 'said', 'president', 'trump']


TOP 15 words for the topic 2 are:
['senate', 'house', 'people', 'act', 'law', 'tax', 'plan', 'republicans', 'affordable', 'obamacare', 'coverage', 'medicaid', 'insurance', 'care', 'health']


TOP 15 words for the topic 3 are:
['officers', 'syria', 'security', 'department', 'law', 'isis', 'russia', 'government', 'state', 'attack', 'president', 'reports', 'court', 'said', 'police']


TOP 15 words for the topic 4 are:
['primary', 'cruz', 'election', 'democrats', 'percent', 'party', 'delegates', 'vote', 'state', 'democratic', 'hillary', 'campaign', 'voters', 'sanders', 'clinton']


TOP 15 words for the topic 5 are:
['love', 've', 'don', 'album', 'way', 'time', 'song', 'life', 'really', 'know', 'people', 'think', 'just', 'music', 'like']


TOP 15 words for the topic 6 are:
['teacher', 'state', 'high', 'says', 'parents', 'devos', 'children', 'college', 'kids', 'teachers', 'student', 'education', 'schools', 'school', 'students']

In [27]:
topic_results=nmf.transform(dtm)

Attaching topics with our Articles

In [28]:
npr['Topic'] = topic_results.argmax(axis=1)

In [29]:
npr.head()

                                             Article  Topic
0  In the Washington of 2016, even when the polic...      1
1    Donald Trump has used Twitter  —   his prefe...      1
2    Donald Trump is unabashedly praising Russian...      1
3  Updated at 2:50 p. m. ET, Russian President Vl...      3
4  From photography, illustration and video, to d...      6

LAbelling the Topics

In [30]:
my_topic_dict={0:'health',1:'election',2:'law',3:'politics',4:'election',5:'music',6:'school'}

In [31]:
npr["Topics_label"]=npr["Topic"].map(my_topic_dict)

Checking the first five and the last five entries of our data

In [32]:
npr.head()

                                             Article  Topic Topics_label
0  In the Washington of 2016, even when the polic...      1     election
1    Donald Trump has used Twitter  —   his prefe...      1     election
2    Donald Trump is unabashedly praising Russian...      1     election
3  Updated at 2:50 p. m. ET, Russian President Vl...      3     politics
4  From photography, illustration and video, to d...      6       school

In [33]:
npr.tail()

                                                 Article  Topic Topics_label
11987  The number of law enforcement officers shot an...      3     politics
11988    Trump is busy these days with victory tours,...      1     election
11989  It’s always interesting for the Goats and Soda...      0       health
11990  The election of Donald Trump was a surprise to...      4     election
11991  Voters in the English city of Sunderland did s...      3     politics